<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager Profile</title>
</head>
<body align="center" bgcolor="AliceBlue">

<center>
<h1>
  <a th:href="@{/manager/myprofile/{id}(id=${manager.id})}">Profile</a>
  <a th:href="@{/manager/myleaves/{id}(id=${manager.id})}">My Leave Requests</a>
  <a th:href="@{/}">Logout</a>
</h1>
<table border = "1">
  <h3><tr>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
    <td>Specialist</td>
    <td>Update</td>
  </tr>
  <tr>
    <td th:text="${manager.firstName}"></td>
    <td th:text="${manager.lastName}"></td>
    <td th:text="${manager.email}"></td>
    <td th:text="${manager.department}"></td>
    <td><a href="">Update</a></td>
  </tr>
  </h3>
</table>
</center>
</body>
</html>